<p><%= notice %></p>
<h1> Welcome Students </h1>
<%= link_to 'New Student', new_student_path %>

<% flash.each do |type, msg| %>
    <div>
      <%= msg %>
    </div>
<% end %>

<table>
 <thead>
     <tr>
      <th> f_name </th>
      <th> l_name </th>
      <th> email </th>
      <th> phone_no  </th>
      <th> bio </th>
     </tr>
    </thead>
     <tbody>
       <% @students.each do |student| %>
        <tr>
            <td><%= student.f_name %></td>
            <td><%= student.l_name %></td>
            <td><%= student.email%></td>
            <td><%= student.phone_no%></td>
            <td><%= student.bio%></td>
            <td><%= link_to 'Show', student_path(student.id) %></td>
            <td><%= link_to 'Edit', edit_student_path(student.id) %></td>
            <td><%= link_to 'Destroy', student_path(student.id), data: {
                    turbo_method: :delete,
                    turbo_confirm: "Are you sure?"
                  } %></td>
        </tr>
      <% end %>
 </tbody>
</table>







